<div class="col-md-12">
  <nb-alert *ngIf="formError" status="{{statusType}}">{{formError}}</nb-alert>
    <nb-card>
      <nb-card-header>Edit Employee</nb-card-header>
      <nb-card-body>
        <form [formGroup]="editRegisterForm" (ngSubmit)="updateEmployee()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name" class="label">Name*</label>
            <input type="text" formControlName="name" nbInput fullWidth id="name" placeholder="Name" [(ngModel)]="employee.name" autocomplete="off">
            <div *ngIf="(getControl.name.touched || submitted) && getControl.name.invalid" class="text-danger">
                <div *ngIf="getControl.name.errors && getControl.name.errors.required">Name is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="label">Email address*</label>
            <input type="email" formControlName="email" nbInput fullWidth id="email" placeholder="Email" [(ngModel)]="employee.email" autocomplete="off">
            <div *ngIf="(getControl.email.touched || submitted) && getControl.email.invalid" class="text-danger">
                <div *ngIf="getControl.email.errors && getControl.email.errors.required">Email is required!</div>
                <div *ngIf="getControl.email.errors && getControl.email.errors.email">Email seems invalid!</div>
            </div>
          </div>
          <div class="form-group">
            <label for="profile" class="label">Profile</label>
            <input type="file" nbInput fullWidth id="profile" formControlName="profile" (change)="onFileChange($event)">
            <div *ngIf="(getControl.profile.touched || submitted) && getControl.profile.invalid" class="text-danger">
              <label *ngIf="getControl.profile.errors?.inValidExt
                && !getControl.profile.errors?.required" class="error">
                Accepted only jpg, png, jpeg file.
              </label>
            </div>
            <img class='table-thumbnail-img' src="{{employee.photo}}" width="50" height="50"/>
          </div>
          <div class="form-group">
            <label for="description" class="label">Description</label>
            <textarea rows="3" nbInput fullWidth placeholder="Description" formControlName="description" [(ngModel)]="employee.description"></textarea>
          </div>
          <button type="submit" nbButton status="danger" [class.btn-primary]="editRegisterForm.valid" [class.btn-secondary]="!editRegisterForm.valid"
          class="btn btn-block">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
</div>
