<div class="col-md-12">
    <nb-card>
        <nb-card-header>Profile <a class="btn btn-warning btn-sm float-right"
                routerLink="/pages/employees/index"><i class="fa fa-arrow-left fa-2x"></i></a></nb-card-header>
        <nb-card-body>
            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name" class="label">Name*</label>
                    <input type="text" formControlName="name" nbInput fullWidth id="name" placeholder="Name"
                        [(ngModel)]="loggedUserData.name" autocomplete="off">
                    <div *ngIf="(getControl.name.touched || submitted) && getControl.name.invalid" class="text-danger">
                        <div *ngIf="getControl.name.errors && getControl.name.errors.required; else patternValidation">
                            Name is required!
                        </div>
                        <ng-template #patternValidation>
                            <div *ngIf="getControl.name.errors && getControl.name.errors.pattern">
                                Name must contain letters optionally followed by a space optionally followed by letters
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile" class="label">Profile</label>
                    <input type="file" nbInput fullWidth id="profile" formControlName="profile"
                        (change)="onFileChange($event)">
                    <div *ngIf="(getControl.profile.touched || submitted) && getControl.profile.invalid"
                        class="text-danger">
                        <label *ngIf="getControl.profile.errors?.inValidExt && !getControl.profile.errors?.required" class="error">
                            Accepted only jpg, png, jpeg file.
                        </label>
                    </div>
                    <img class='table-thumbnail-img' src="{{loggedUserData.photo}}" width="50" height="50" />
                </div>
                <div class="form-group">
                    <label for="description" class="label">Description</label>
                    <textarea rows="3" nbInput fullWidth placeholder="Description" formControlName="description"
                        [(ngModel)]="loggedUserData.description"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" nbButton status="danger" class="btn btn-sm">Submit</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>