<nb-card>
  <nb-card-header>
    Manage Resources
    <nb-alert *ngIf="formError" status="{{statusType}}">{{formError}}</nb-alert>
    <a class="btn btn-warning btn-sm float-right" routerLink="/pages/resources/create">
      <i class="fa fa-plus-circle fa-2x"></i>
    </a>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [source]='source'
      (delete)="onDelete($event)"
      (edit)="onEditResource($event, 'edit')"
      [settings]='settings'
    ></ng2-smart-table>
  </nb-card-body>
</nb-card>
