<div class="col-md-12">
    <nb-card>
    <nb-card-header>Book Resource <a class="btn btn-warning btn-sm float-right" routerLink="/pages/booking/index"><i class="fa fa-arrow-left fa-2x"></i></a></nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="formError" [status]="statusType">{{formError}}</nb-alert>
        <form [formGroup]="resourceBookForm" (ngSubmit)="resourceBook()">
        <!-- <div class="form-group">
            <label for="name" class="label">Start Date*</label><br />
            <input type="datetime-local" id="startDate" nbInput fullWidth name="start_date" formControlName="start_date" autocomplete="off">
            <div *ngIf="(getControl.start_date.touched || submitted) && getControl.start_date.invalid" class="text-danger">
                <div *ngIf="getControl.start_date.errors && getControl.start_date.errors.required">Start date-time is required!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="label">End Date*</label><br/>
            <input type="datetime-local" id="endDate" nbInput fullWidth name="end_date" formControlName="end_date" autocomplete="off">
            <div *ngIf="(getControl.end_date.touched || submitted) && getControl.end_date.invalid" class="text-danger">
                <div *ngIf="getControl.end_date.errors && getControl.end_date.errors.required">End date-time is required!</div>
            </div>
        </div> -->
        <div class="form-group">
            <label for="name" class="label">Start Date*</label><br />
            <input nbInput fullWidth placeholder="Pick Date" [nbDatepicker]="start_date" (ngModelChange)="getStartDate($event)" formControlName="start_date">
            <nb-date-timepicker withSeconds #start_date [min]="minDate" [max]="selectedEndDate"></nb-date-timepicker>
            <div *ngIf="(getControl.start_date.touched || submitted) && getControl.start_date.invalid" class="text-danger">
                <div *ngIf="getControl.start_date.errors && getControl.start_date.errors.required">Start date-time is required!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="label">End Date*</label><br/>
            <input nbInput fullWidth placeholder="Pick Date" [nbDatepicker]="end_date" (ngModelChange)="getEndDate($event)" formControlName="end_date">
            <nb-date-timepicker withSeconds #end_date [min]="selectedStartDate"></nb-date-timepicker>
            <div *ngIf="(getControl.end_date.touched || submitted) && getControl.end_date.invalid" class="text-danger">
                <div *ngIf="getControl.end_date.errors && getControl.end_date.errors.required">End date-time is required!</div>
            </div>
            <div class="text-danger" *ngIf="error.isError">{{error.errorMessage}}</div>
        </div>
        <div class="form-group">
            <label for="resource" class="label">Resource*</label>
            <nb-select fullWidth name="resource" id="resource" fullWidth formControlName="resource" placeholder="resource">
                <nb-option [value]="resource.id" *ngFor="let resource of allResources">
                    {{ resource.title }}
                </nb-option>
            </nb-select>
            <div *ngIf="(getControl.resource.touched || submitted) && getControl.resource.invalid" class="text-danger">
                <div *ngIf="getControl.resource.errors && getControl.resource.errors.required">Resource is required!</div>
            </div>
        </div>
        <div class="text-center">
        <button type="submit" nbButton status="danger" [class.btn-primary]="resourceBookForm.valid" [class.btn-secondary]="!resourceBookForm.valid"
          class="btn btn-sm">Submit</button>
        </div>
        </form>
    </nb-card-body>
    </nb-card>
</div>